<h1 class="display-3">Welcome</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto deleniti enim error facere magni minus,
  molestias neque reiciendis repudiandae rerum sequi similique tenetur vero. Molestiae neque nisi officia praesentium
  qui?</p>
<p>
  You can find additional informations
  <a [routerLink]="['/external-link','http://nx.dev']">here</a>
</p>
<h2>Secruity</h2>
<p>
  Normal link <a href="http://google.de">Link</a><br>
  Unsave link <a [href]="urlUnsave">Link</a>
</p>
<!--<p [innerHTML]="script"></p>
<p [innerText]="script"></p>-->

<p [innerHTML]="scriptUnsave"></p>

